<div class="modal__container">
  <button mat-icon-button mat-dialog-close class="modal__btn--close">
    <img src="assets/close-modal-icon.svg" alt="close-modal-icon" />
  </button>

  <div class="modal__body">
    <img
      class="modal__img"
      src="assets/modal/advisors-contacting-themselves.svg"
      alt="advisors-contacting-themselves"
    />

    <h1 class="modal__title">Contacting yourself is not possible</h1>

    <p class="modal__text">
      Because we're always talking to ourselves anyway. We don't see any value
      in speaking to ourselves virtually on getme.global. Therefore we restrict
      this functionality.
    </p>
  </div>

  <div class="modal__actions">
    <button class="modal__btn accented-btn" mat-dialog-close>Got it</button>
  </div>
</div>
