@import 'variables';

:host {
  position: relative;
  display: flex;
  padding: 2.4rem 2.5rem;
  border-radius: $--sds-size-radius-400;
  border: 1px solid $--sds-color-border-default-default;
  background: $--sds-color-background-default-secondary;
}

.skill-name {
  border-radius: $--sds-size-radius-200;
  border: $--sds-size-stroke-border solid $--sds-color-border-default-default;
  background: $--sds-color-background-default-default;
  color: $--sds-color-text-default-default;
  font-family: $--sds-typography-body-font-family;
  font-size: $--sds-typography-body-size-medium;
  font-style: normal;
  font-weight: $--sds-typography-body-font-weight-regular;
  line-height: 110%;
  padding: 1.2rem 1.6rem;
  height: 4rem;
}

.form-label {
  display: flex;
  margin-bottom: 8px;
}

app-more-menu {
  @media (max-width: 700px) {
    position: absolute !important;
    top: 8px;
    right: 8px;
  }
}

app-save-icon {
  display: flex;
  width: 2rem;
  height: 2rem;
}

.skillset-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;

  .form_field__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 240px;
    gap: 12px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 28px;

    app-button-icon-oval {
      flex: 1;
    }
  }

  .action {
    background-color: transparent;
    width: 40px;
    height: 68px;
    border-radius: $--sds-size-radius-500;
    border: 1px solid $--sds-color-border-default-default;
    margin: 0 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 10px;
    cursor: pointer;

    &.active {
      border: 1px solid $--sds-color-border-brand-default;
      background: $--sds-color-background-brand-default;
    }

    &.add {
      &:hover {
        border: 1px solid $--sds-color-border-brand-default;
        background: $--sds-color-background-brand-default;
      }
    }

    &__icon {
      width: 20px;
      height: 20px;
      position: relative;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .skill-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    position: relative;
    border-radius: $--sds-typography-scale-06;
    border: $--sds-size-stroke-border solid $--sds-color-border-default-default;
    background: $--sds-color-background-default-secondary;
    cursor: pointer;
  }

  .form_field {
    background-color: transparent;
    border: none;

    width: 100%;

    .label {
      font-size: 1.3rem;
      color: $--sds-color-text-default-default;
      font-weight: $--sds-typography-subtitle-font-weight;
      margin-bottom: 1rem;
    }

    .select,
    input {
      background-color: $--sds-color-background-default-default;
      border: 1px solid $--sds-color-border-default-default;
      height: 40px;
      border-radius: $--sds-size-radius-300;
      padding: 8px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 700px) {
  .skillset-item {
    flex-direction: column;

    .action {
      position: absolute;
      left: -5px;
      top: 40px;
      height: 100px;
    }

    .form_field__group {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 240px;
    }
  }
}
