<div class="info-pane">
  <h3 class="info-pane__title">
    How to provide meaningful feedback to each other?
  </h3>

  <p class="info-pane__text">
    The best way to be helpful is to leave at least one comment at each section:
    At strengths, weaknesses, next steps and links.
  </p>
  <p class="info-pane__text">
    It is also very helpful to review at the project level the complete concept
    of a series and each file individually as well. (optional) Use our different
    tools to express your opinion more accurately and quicker.
  </p>

  <p class="info-pane__text">
    For instance: leave a score at each file, draw on top of image files, resort
    the order of all files presented in a project and many more.
  </p>
</div>
