$--sds-color-background-default-default: #ffffff;
$--sds-color-background-default-default-hover: #f5f5f5;
$--sds-color-background-default-secondary: #f5f5f5;
$--sds-color-background-default-secondary-hover: #e6e6e6;
$--sds-color-background-default-tertiary: #d9d9d9;
$--sds-color-background-default-tertiary-hover: #b3b3b3;

$--sds-color-background-neutral-default: #5a5a5a;
$--sds-color-background-neutral-hover: rgba(245, 245, 245, 0.9);
$--sds-color-background-neutral-default-hover: #434343;
$--sds-color-background-neutral-secondary: #cdcdcd;
$--sds-color-background-neutral-secondary-hover: #b2b2b2;
$--sds-color-background-neutral-tertiary: #e3e3e3;
$--sds-color-background-neutral-tertiary-hover: #cdcdcd;

$--sds-color-background-brand-default: #2c2c2c;
$--sds-color-background-brand-hover: #1e1e1e;
$--sds-color-background-brand-secondary: #e6e6e6;
$--sds-color-background-brand-secondary-hover: #d9d9d9;
$--sds-color-background-brand-tertiary: #F5F5F5;
$--sds-color-background-brand-tertiary-hover: #E6E6E6;

$--sds-color-background-positive-default: #14ae5c;
$--sds-color-background-positive-default-hover: #009951;
$--sds-color-background-positive-secondary: #cff7d3;
$--sds-color-background-positive-secondary-hover: #aff4c6;
$--sds-color-background-positive-tertiary: #ebffee;
$--sds-color-background-positive-tertiary-hover: #cff7d3;

$--sds-color-background-warning-default: #e8b931;
$--sds-color-background-warning-default-hover: #e5a000;
$--sds-color-background-warning-secondary: #fff1c2;
$--sds-color-background-warning-tertiary: #fffbeb;
$--sds-color-background-warning-tertiary-hover: #fff1c2;

$--sds-color-background-danger-default: #ec221f;
$--sds-color-background-danger-default-hover: #c00f0c;
$--sds-color-background-danger-secondary: #fdd3d0;
$--sds-color-background-danger-secondary-hover: #fcb3ad;
$--sds-color-background-danger-tertiary: #fee9e7;
$--sds-color-background-danger-tertiary-hover: #fdd3d0;

$--sds-color-background-disabled-default: #d9d9d9;

$--sds-color-background-utilities-scrim: rgba(255, 255, 255, 0.8);
$--sds-color-background-utilities-blanket: rgba(0, 0, 0, 0.7);
$--sds-color-background-utilities-overlay: rgba(0, 0, 0, 0.5);
$--sds-color-background-utilities-measurement: #e1e2fa;
$--Blue-Active-Dark: #00F0FF;

$--sds-color-background-utilities-scrim: rgba(245, 245, 245, 0.8);

