$--sds-color-border-default-default: #d9d9d9;
$--sds-color-border-default-secondary: #757575;
$--sds-color-border-default-tertiary: #383838;

$--sds-color-border-neutral-default: #303030;
$--sds-color-border-neutral-secondary: #767676;
$--sds-color-border-neutral-tertiary: #b2b2b2;

$--sds-color-border-brand-default: #2c2c2c;
$--sds-color-border-brand-secondary: #444444;
$--sds-color-border-brand-tertiary: #757575;

$--sds-color-border-positive-default: #02542d;
$--sds-color-border-positive-secondary: #009951;
$--sds-color-border-positive-tertiary: #14ae5c;

$--sds-color-border-warning-default: #522504;
$--sds-color-border-warning-secondary: #975102;
$--sds-color-border-warning-tertiary: #bf6a02;

$--sds-color-border-danger-default: #900b09;
$--sds-color-border-danger-secondary: #c00f0c;
$--sds-color-border-danger-tertiary: #ec221f;

$--sds-color-border-disabled-default: #b3b3b3;
$--sds-color-border-disabled-secondary: #b2b2b2;

$--sds-color-border-utilities-swatch: rgba(0, 0, 0, 0.24);
$--Border-Default-Light: #FFF;
$--Light-Grey: #DDD;
