$--sds-color-icon-default-default: #1e1e1e;
$--sds-color-icon-default-secondary: #757575;
$--sds-color-icon-default-tertiary: #b3b3b3;

$--sds-color-icon-neutral-default: #303030;
$--sds-color-icon-neutral-secondary: #5a5a5a;
$--sds-color-icon-neutral-tertiary: #767676;
$--sds-color-icon-neutral-on-neutral: #f3f3f3;
$--sds-color-icon-neutral-on-neutral-secondary: #303030;
$--sds-color-icon-neutral-on-neutral-tertiary: #434343;

$--sds-color-icon-brand-default: #2c2c2c;
$--sds-color-icon-brand-secondary: #444444;
$--sds-color-icon-brand-on-brand: #f5f5f5;
$--sds-color-icon-brand-on-brand-secondary: #1e1e1e;
$--sds-color-icon-brand-on-brand-tertiary: #2c2c2c;

$--sds-color-icon-positive-default: #02542d;
$--sds-color-icon-positive-secondary: #009951;
$--sds-color-icon-positive-tertiary: #14ae5c;
$--sds-color-icon-positive-on-positive: #ebffee;
$--sds-color-icon-positive-on-positive-secondary: #02542d;
$--sds-color-icon-positive-on-positive-tertiary: #024023;

$--sds-color-icon-warning-default: #522504;
$--sds-color-icon-warning-secondary: #975102;
$--sds-color-icon-warning-tertiary: #bf6a02;
$--sds-color-icon-warning-on-warning: #401b01;
$--sds-color-icon-warning-on-warning-secondary: #682d03;
$--sds-color-icon-warning-on-warning-tertiary: #522504;

$--sds-color-icon-danger-default: #900b09;
$--sds-color-icon-danger-secondary: #c00f0c;
$--sds-color-icon-danger-tertiary: #ec221f;
$--sds-color-icon-danger-on-danger: #fee9e7;
$--sds-color-icon-danger-on-danger-secondary: #900b09;
$--sds-color-icon-danger-on-danger-tertiary: #900b09;

$--sds-color-icon-disabled-default: #b3b3b3;
$--sds-color-icon-disabled-on-disabled: #b3b3b3;
$--Icon-Default-Bright: #F5F5F5
