$--sds-color-text-default-default: #1e1e1e;
$--sds-color-text-default-secondary: #757575;
$--sds-color-text-default-tertiary: #b3b3b3;

$--sds-color-text-neutral-default: #303030;
$--sds-color-text-neutral-secondary: #5a5a5a;
$--sds-color-text-neutral-tertiary: #767676;
$--sds-color-text-neutral-on-neutral: #f3f3f3;
$--sds-color-text-neutral-on-neutral-secondary: #303030;
$--sds-color-text-neutral-on-neutral-tertiary: #434343;

$--sds-color-text-brand-default: #2c2c2c;
$--sds-color-text-brand-secondary: #444444;
$--sds-color-text-brand-tertiary: #757575;
$--sds-color-text-brand-on-brand: #f5f5f5;
$--sds-color-text-brand-on-brand-secondary: #1e1e1e;
$--sds-color-text-brand-on-brand-tertiary: #2c2c2c;

$--sds-color-text-positive-default: #02542d;
$--sds-color-text-positive-secondary: #009951;
$--sds-color-text-positive-tertiary: #14ae5c;
$--sds-color-text-positive-on-positive: #ebffee;
$--sds-color-text-positive-on-positive-secondary: #02542d;
$--sds-color-text-positive-on-positive-tertiary: #02542d;

$--sds-color-text-warning-default: #522504;
$--sds-color-text-warning-secondary: #975102;
$--sds-color-text-warning-tertiary: #bf6a02;
$--sds-color-text-warning-on-wraning: #401b01;
$--sds-color-text-warning-on-wraning-secondary: #682d03;
$--sds-color-text-warning-on-wraning-tertiary: #522504;

$--sds-color-text-danger-default: #900b09;
$--sds-color-text-danger-secondary: #c00f0c;
$--sds-color-text-danger-tertiary: #ec221f;
$--sds-color-text-danger-on-danger: #fee9e7;
$--sds-color-text-danger-on-danger-secondary: #900b09;
$--sds-color-text-danger-on-danger-tertiary: #900b09;

$--sds-color-text-disabled-default: #b3b3b3;
$--sds-color-text-disabled-on-disabled: #b3b3b3;
$--sds-color-text-utilities-text-on-overlay: #0C0C0D;
$--Text-Default-Lighter: #E6E6E6;
$--Text-Default-Brigth: #FFF;
$--Blue-Active-Light: #000FFF;
$--Dark-Gray: #858585;
$--Grey: #B0B0B0;
