@import 'variables';

.project-menu-top {
  height: 6rem;
  width: 100%;
  position: relative;

  display: flex;

  justify-content: space-between;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (min-width: $bp-large) {
    width: 85%;
    background-color: white;
    margin: 0 auto;
    margin-top: 4rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  h3 {
    font-size: 2rem;
    text-align: center;
    line-height: 1;
    font-family: Poppins;
  }

  &__white {
    background-color: white;

    .nav-arrow {
      filter: invert(100%);
    }
  }
}

// Navigation
.nav-arrow {
  line-height: 1;

  cursor: pointer;
  //position: absolute;
  //top:50%;
  //height: 18px;
  //width: 20px;
  //text-align: center;
  //transform: translate(0,-50%);

  &__left {
    margin-left: 2rem;
    filter: invert(100%);
  }

  &__right {
    filter: invert(100%);
    margin-right: 2rem;
    @media only screen and (max-width: $bp-medium) {
      margin-right: 2rem;
    }
  }

  &__hidden {
    opacity: 0.2;
  }
}
