<div class="modal__container">
  <div class="modal__body">
    <h1 class="title">
      Select at least one skill/tool when contacting an advisor.
    </h1>

    <p class="text">
      contact advisors about specific skills/tools with or without a project.
    </p>

    <img
      class="modal__img"
      src="assets/advisors/selected-without-skill.png"
      alt="selected-without-skill"
    />
  </div>

  <div class="modal__actions">
    <button class="modal__btn accented-btn" mat-dialog-close>Got it</button>
  </div>
</div>
