@import 'variables';

.topics {
  margin-top: 4rem;
 // padding: 4rem;
  max-width: 870px;

  .user_skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 44px;

    @media (max-width: $desktop) {
      justify-content: center;
    }

    app-skillset-item {
      width: 348px;
    }

  }

  .topics_wrapper {
    width: 100%;

    &_inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;



      .action {
        background-color: transparent;
        width: 40px;
        height: 68px;
        border-radius: $--sds-size-radius-500;
        border: 1px solid $--sds-color-border-default-default;
        margin: 0 1rem 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 10px;
        cursor: pointer;

        &.active {
          border: 1px solid $--sds-color-border-brand-default;
          background: $--sds-color-background-brand-default;

          .add {
            filter: invert(1);
          }
        }

        &.add {
          &:hover {
            border: 1px solid $--sds-color-border-brand-default;
            background: $--sds-color-background-brand-default;

            .add {
              filter: invert(1);
            }
          }
        }

        &__icon {
          width: 20px;
          height: 20px;
          position: relative;

          &.add {
            right: 3px;
            top: -2px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .topics {
    margin-top: 10rem;
    padding: 0;
    max-width: unset;

    .topics_wrapper {
      &_inner {
        .action {
          position: absolute;
          width: 40px;
          height: 100px;
          left: -5px;
          top: 40px;
        }
      }
    }
  }
}
