<div class="authform-container" [ngClass]="{login: isLoginMode}" #authRef>
  <div class="authform__image-container" [ngClass]="{signup: isSignupMode}">
    <img [ngSrc]="
    isLoginMode 
      ? 'assets/auth/login-image.jpg' 
      : (signUpMode() === 'counsellor' 
          ? 'assets/auth/counsellor-sign-up.png' 
          : 'assets/auth/sign-up-image-new.png')" height="1724" width="1221" priority="true" [alt]="'header.image-alt' | translate">
  </div>

  <div class="authform" [@slideTop]="startAnimations()" [ngClass]="{login: isLoginMode, signup: isSignupMode}">
    <div class="authform__greeter">
      @if (isLoginMode) {
      <app-login-icon></app-login-icon>
      } @else {
      <app-icon-new-user></app-icon-new-user>
      }

      <h1 class="authform__title">{{ title() }}</h1>
    </div>

    <form class="form" [formGroup]="form" (submit)="onSubmit()">
      @if (form.get('username'); as nameForm) {
      <app-input [control]="form.get('username')" inputName="username" [placeholder]="'validation.unique' | translate"
        type="text" [label]="'fields.username' | translate">

        @if (!(
        (nameForm.touched && nameForm.errors?.required) ||
        (nameForm.value && nameForm.errors?.pattern)
        )) {
        <span>{{ 'validation.error' | translate }}</span>
        }
        @if (nameForm.touched && nameForm.errors?.required) {
        <span>{{ 'validation.required-field' | translate }}</span>
        }
        @if (nameForm.value && nameForm.errors?.pattern) {
        <span>{{ 'validation.username-valid' | translate }}</span>
        }
      </app-input>
      }

      <app-input [control]="form.get('email')" inputName="email" placeholder="example@mail.org" type="email"
        [label]="'fields.email' | translate" [disabled]="!!predefinedEmail()">
        <span>{{ 'validation.email-valid' | translate }}</span>
      </app-input>

      <div class="password-wrapper">
        <app-input [control]="form.get('password')" inputName="password"
          [placeholder]="'validation.password-placeholder' | translate: {min: 6}"
          [type]="showPassword ? 'text' : 'password'" [label]="'fields.password' | translate">
          <!-- Validation messages only inside app-input -->
          <span>{{ 'validation.min-length' | translate:{ min: 6 } }}</span>

          @if(form.get('password')?.errors?.['passwordComplexity']) {
          @if(!form.get('password')?.errors?.['passwordComplexity'].hasSixLetters) {
          <span>
            {{ 'validation.min-simbols' | translate }}
          </span>
          }
          @if(!form.get('password')?.errors?.['passwordComplexity'].hasNumber) {
          <span>
            {{ 'validation.min-number' | translate }}
          </span>
          }
          @if(!form.get('password')?.errors?.['passwordComplexity'].hasSpecialChar) {
          <span>
            {{ 'validation.min-special-simbol' | translate }}
          </span>
          }
          }

        </app-input>

        <div class="input-details" *ngIf="form.get('password')?.dirty">
          <button type="button" class="password-toggle" (click)="togglePasswordVisibility()" tabindex="-1"
            aria-label="Toggle password visibility">
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        </div>
      </div>

      @if (form.get('newPassword')) {
      <app-input [control]="form.get('newPassword')" inputName="newPassword"
        [placeholder]="'validation.password-placeholder' | translate: {min: 6}" type="password"
        [label]="'fields.password' | translate">
        <span>{{ 'validation.min-length' | translate :{ min: 6 } }}</span>


        @if(form.get('newPassword')?.errors?.['passwordComplexity']) {
        @if(!form.get('newPassword')?.errors?.['passwordComplexity'].hasSixLetters) {
        <span>
          {{ 'validation.min-simbols' | translate }}
        </span>
        }
        @if(!form.get('newPassword')?.errors?.['passwordComplexity'].hasNumber) {
        <span>
          {{ 'validation.min-number' | translate }}
        </span>
        }
        @if(!form.get('newPassword')?.errors?.['passwordComplexity'].hasSpecialChar) {
        <span>
          {{ 'validation.min-special-simbol' | translate }}
        </span>
        }
        }

      </app-input>
      }

      @if (!this.hideCompany() && isSignupMode && signUpMode() === 'counsellor') {
      @if (!isEnterCompanyName()) {
      <div class="form-field">
        <label class="form-label" for="findOrgInput">{{ 'fields.org' | translate }}<span>({{ 'fields.optional' |
            translate }})</span></label>

        <input [placeholder]="'fields.org-placeholder' | translate" id="findOrgInput" class="form-input"
          autocomplete="off" [formControl]="organizationsControl" [appAutocomplete]="autocomplete" />
        <app-search-icon></app-search-icon>
      </div>

      <app-autocomplete (valueChange)="organizationSelected($event)" #autocomplete="appAutocomplete">
        <ng-template appAutocompleteContent #template>
          @for (option of organizations(); track option.id) {
          <app-autocomplete-option [value]="option">
            {{ option.legal_name }}
          </app-autocomplete-option>
          }
          <div class="create-new-company">
            {{ 'fields.no-result' | translate }}
            <app-button class="create-new-company-btn" size="small" btnUIType="primary"
              (click)="switchCompanySelect(template)">{{ 'fields.create-new-company' | translate }}</app-button>
          </div>

        </ng-template>
      </app-autocomplete>
      }
      @else {
      <app-input [control]="form.get('organization_name')" inputName="organizationName"
        [placeholder]="'fields.org-placeholder-name' | translate" type="text" [label]="'fields.org-name' | translate">
      </app-input>
      }
      }

      @if (isSignupMode && form.get('accepted')) {
      <div class="terms-checkbox">
        <mat-checkbox formControlName="accepted">{{ 'fields.accept-terms' | translate }}
        </mat-checkbox>
        <a [href]="termsLink" target="_blank">{{ 'fields.read-terms' | translate }}</a>
      </div>
      }

      <div *ngIf="error">
        <p class="mat-error">{{ error() }}</p>
        <app-button size="medium" btnUIType="neutral" class="resend" *ngIf="shouldShowResendConfirmation"
          (click)="didRequestConfirmation(form.get('email')?.value)">
          {{ 'actions.resend-confirmation-email' | translate }}
        </app-button>
      </div>


      <div class="btn-group end">
        <app-button size="large" btnUIType="neutral" type="reset" (click)="outletService.closeModalOutlet()">{{
          'actions.cancel' | translate }}
        </app-button>

        <app-button class="submit-btn" size="large" btnUIType="primary" type="submit"
          [disabled]="form.invalid || (form.get('accepted') && form.get('accepted')?.value === false)">
          <div *ngIf="isLoading" class="spinner" role="status">
            <app-small-spinner [isWhite]="true" diameter="16"></app-small-spinner>
          </div>
          <ng-container *ngIf="isLoginMode">{{ 'header.sign-in' | translate }}</ng-container>
          <ng-container *ngIf="isSignupMode">{{ 'header.sign-up' | translate }}</ng-container>
          <ng-container *ngIf="isPasswordResetMode">{{ 'header.reset' | translate }}</ng-container>
        </app-button>
      </div>


      <div class="sub-actions">
        @if (!isPasswordResetMode) {
        <app-button size="small" btnUIType="subtle" (click)="switchModeHandler('reset-password')">{{
          'actions.reset-password' | translate }}</app-button>
        }
        @if (!isLoginMode) {
        <app-button size="small" btnUIType="subtle" (click)="switchModeHandler('login')">
          {{ 'actions.sign-in-here' | translate }}
          <app-login-icon></app-login-icon>
        </app-button>
        }

        @if (!isSignupMode) {
        <app-button size="small" btnUIType="subtle" (click)="switchModeHandler('signup')">
          {{ 'actions.sign-up-here' | translate }}
        </app-button>
        }

      </div>
      @if(isSignupMode) {
      @if (signUpMode() === 'client') {
      <app-button class="signup-switcher" size="small" btnUIType="subtle" (click)="setCounsellorSignUp()">
        <app-user-icon color="#1E1E1E"></app-user-icon>
        <span class="signup-switcher-txt">Go to Counsellor Sign Up</span>
        <app-icon-double-right-arrow color="#1E1E1E"></app-icon-double-right-arrow>
      </app-button>
      }

      @if (signUpMode() === 'counsellor') {
      <app-button class="signup-switcher" size="small" btnUIType="subtle" (click)="setClientSignUp()">
        <app-user-icon color="#1E1E1E"></app-user-icon>
        <span class="signup-switcher-txt">Go to Client Sign Up</span>
        <app-icon-double-right-arrow color="#1E1E1E"></app-icon-double-right-arrow>
      </app-button>
      }
      }
    </form>
  </div>
</div>