@import 'variables';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 14000;
}

.alertbox {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60vw;
  padding: 16px;
  z-index: 14100;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;

  @media only screen and (max-width: 768px) {
    top: 50%;
    transform: translate(0, -50%);
    left: 2vw;
    right: 2vw;
    width: 96vw;
    height: auto;
    padding: 0;
  }

  &__content {
    font-size: 3rem;
    padding: 2rem;
    flex: 1;
  }

  &__actions {
    text-align: right;
  }
}
