@import "_variables";

:host {
  display: flex;
  flex-direction: column;
  gap: $--sds-size-space-1100;
  align-self: center;
}

@media screen and (min-width: $bp-medium) {
  :host {
    align-self: unset;
  }
}

.ice-breakers-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;

  @media  (max-width: $bp-medium) {
    justify-content: center;
  }
}
