$--sds-color-green-100: #ebffee;
$--sds-color-green-200: #cff7d3;
$--sds-color-green-300: #aff4c6;
$--sds-color-green-400: #85e0a3;
$--sds-color-green-500: #14ae5c;
$--sds-color-green-600: #009951;
$--sds-color-green-700: #008043;
$--sds-color-green-800: #02542d;
$--sds-color-green-900: #024023;
$--sds-color-green-1000: #062d1b;
