$--sds-color-red-100: #fee9e7;
$--sds-color-red-200: #fdd3d0;
$--sds-color-red-300: #fcb3ad;
$--sds-color-red-400: #f4776a;
$--sds-color-red-500: #ec221f;
$--sds-color-red-600: #c00f0c;
$--sds-color-red-700: #900b09;
$--sds-color-red-800: #900b09;
$--sds-color-red-900: #4d0b0a;
$--sds-color-red-1000: #300603;
