$--sds-color-state-100: #f3f3f3;
$--sds-color-state-200: #e3e3e3;
$--sds-color-state-300: #cdcdcd;
$--sds-color-state-400: #b2b2b2;
$--sds-color-state-500: #949494;
$--sds-color-state-600: #767676;
$--sds-color-state-700: #5a5a5a;
$--sds-color-state-800: #434343;
$--sds-color-state-900: #303030;
$--sds-color-state-1000: #242424;
