$--sds-color-yellow-100: #fffbeb;
$--sds-color-yellow-200: #fff1c2;
$--sds-color-yellow-400: #e8b931;
$--sds-color-yellow-500: #e5a000;
$--sds-color-yellow-600: #bf6a02;
$--sds-color-yellow-700: #975102;
$--sds-color-yellow-800: #682d03;
$--sds-color-yellow-900: #522504;
$--sds-color-yellow-1000: #401b01;
