$--sds-typography-body-font-family: Roboto;
$--sds-typography-body-size-xxs: 1rem;
$--sds-typography-body-size-xs: 1.2rem;
$--sds-typography-body-size-small: 1.4rem;
$--sds-typography-body-size-medium: 1.6rem;
$--sds-typography-body-font-weight-regular: 400;
$--sds-typography-body-font-weight-medium: 500;
$--sds-typography-body-font-weight-strong: 600;
$--sds-typography-body-font-style-italic: italic;
