$--sds-typography-code-font-family: Roboto Mono;
$--sds-typography-code-size-medium: 1.6rem;
$--sds-typography-code-font-weight: 400;
$--sds-typography-code-size-base: $--sds-typography-code-size-medium;
