$--sds-typography-heading-font-family: Roboto;
$--sds-typography-heading-size-base: 2.4rem;
$--sds-typography-heading-size-base-mobile: 3rem;
$--sds-typography-heading-size-base-medium: 2.667rem;
$--sds-typography-heading-font-weight: 600;
