<div class="topmenu">
  <ul class="main-nav">
    <li class="main-nav__item">
      <a
        class="main-nav__link"
        routerLinkActive="active"
        routerLink="artcategories"
        >Art Categories</a
      >
    </li>

    <li class="main-nav__item">
      <a
        class="main-nav__link"
        routerLinkActive="active"
        routerLink="onboarding"
        >Onboarding</a
      >
    </li>

    <li class="main-nav__item">
      <a class="main-nav__link" routerLinkActive="active" routerLink="projects"
        >Project Activity</a
      >
    </li>

    <li class="main-nav__item">
      <a class="main-nav__link" routerLinkActive="active" routerLink="skills"
        >Skills</a
      >
    </li>

    <!-- <li class="main-nav__item">
      <a class="main-nav__link" routerLinkActive="active" routerLink="nextwork">Next work</a>
    </li> -->

    <li class="main-nav__item">
      <a
        class="main-nav__link"
        routerLinkActive="active"
        routerLink="tags-order"
        >Tags order</a
      >
    </li>

    <li class="main-nav__item">
      <a class="main-nav__link" routerLinkActive="active" routerLink="payouts"
        >Payouts</a
      >
    </li>

    <li class="main-nav__item">
      <a class="main-nav__link" routerLinkActive="active" routerLink="orgRequests"
        >Org Requests</a
      >
    </li>
  </ul>
</div>
<div class="admin">
  <router-outlet></router-outlet>
</div>
