$--sds-typography-font-family: Roboto;
$--sds-typography-font-family-mono: Roboto Mono;
$--sds-typography-family-sans: sans-serif, Roboto;
$--sds-typography-scale-00: 1rem;
$--sds-typography-scale-01: 1.2rem;
$--sds-typography-scale-02: 1.4rem;
$--sds-typography-scale-03: 1.6rem;
$--sds-typography-scale-04: 2rem;
$--sds-typography-scale-05: 2.4rem;
$--sds-typography-scale-06: 3.2rem;
$--sds-typography-scale-07: 4rem;
$--sds-typography-scale-08: 4.8rem;
$--sds-typography-scale-09: 6.4rem;
$--sds-typography-scale-10: 7.2rem;

$--sds-typography-weight-light: 300;
$--sds-typography-weight-light-italic: light-italic;
$--sds-typography-weight-regular: 400;
$--sds-typography-weight-regular-italic: italic;
$--sds-typography-weight-medium: 500;
$--sds-typography-weight-semibold: 600;
$--sds-typography-weight-bold: 700;
$--sds-typography-weight-900: 900;
$--sds-typography-weight-bold-italic: bold-italic;
$--sds-typography-letter-spacing-3: 0.30000001192092896;
