@import 'variables';

.users-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: $--sds-size-space-400;
  padding: 2rem 0;
  border-top: 1px solid $--sds-color-border-default-default;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
  }
}

.no-data {
  display: flex;
  justify-content: center;

  h3 {
    color: $--sds-color-text-default-secondary;
    font-size: $--sds-typography-subheading-size-medium;
    font-style: normal;
    font-weight:  $--sds-typography-subheading-font-weight;
    line-height: 120%;
  }
}

@media screen and (max-width: 700px) {
  .users-container {
    display: flex;
    flex-direction: column;
  }
}
