@import 'variables';

:host {
  border-radius: $--sds-size-radius-400;
  border: 1px solid rgba(217, 217, 217, 1);
  background-color: rgba(81, 102, 126, 1);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2.4rem;

  text-align: center;
  width: 100%;
  box-sizing: border-box;
}


.welcome-card {
  &_header {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: $--sds-typography-body-size-medium;
    font-weight: $--sds-typography-weight-medium;
  }

  &_header-icon {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  &_content {
    margin-top: 6.2rem;
    margin-bottom: 3.4rem;

    color: #FFB565;
    font-size: 5.6rem;
    font-weight: 900;
    line-height: 95%;
    letter-spacing: -.1127rem;
    min-width: 34rem;
  }

  &_footer {
    color: #fff;
    font-size: 3.9rem;
    font-weight: 900;
    line-height: 95%;
    letter-spacing: -.00786rem;
  }
}
