@import 'variables';

.modal-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 10;
}
app-close-icon {
  display: flex;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 3.2rem 0 3.2rem;
}

.modal-text {
  color: $--sds-color-text-default-default;
  font-family: $--sds-typography-body-font-family;
  font-size: $--sds-typography-body-size-medium;
  font-style: normal;
  font-weight: $--sds-typography-body-font-weight-regular;
  line-height: 140%;
}

mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 2.4rem !important;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

.modal-title {
  color: $--sds-color-text-default-default;
  font-family: $--sds-typography-heading-font-family;
  font-size: $--sds-typography-heading-size-base;
  font-style: normal;
  font-weight: $--sds-typography-heading-font-weight;
  line-height: 120%;
  letter-spacing: -0.48px;
}


mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
}


#canvas_confetti {
  //background: transparent;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index: 0;
}
