.btn-container {
  display: flex;
  background-color: #dddddd;
  border-radius: 4px;
  height: 100%;
}

.scroll-btn {
  background: none;
  border: none;
  outline: none;
  width: 30px;
  min-height: 30px;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

  &__down {
    rotate: 180deg;
  }
}
