<div class="settings" *ngIf="settingsFormGroup">
  <form [formGroup]="settingsFormGroup" (ngSubmit)="onSubmit()">
    <div class="actions-container">
      <button type="submit" class="btn action-button action-button--submit">
        <div *ngIf="isCreating" class="spinner" role="status">
          <app-small-spinner [diameter]="20"></app-small-spinner>
        </div>
        Save settings
      </button>
    </div>

    <div class="group" formArrayName="settings">
      <div
        class="settings__item"
        *ngFor="let settingControl of getControls(); let i = index"
        [formGroupName]="i"
      >
        <mat-form-field
          class="example-full-width"
          class="settings__item--title"
        >
          <input type="text" matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field class="settings__item--value">
          <input type="number" step="0.01" matInput formControlName="value" />
        </mat-form-field>

        <div class="settings__item--delete">
          <mat-icon (click)="onDeleteSetting(i)">delete</mat-icon>
        </div>
      </div>

      <div class="settings__item settings__item--new-item">
        <button type="button" class="btn btn-success" (click)="onAddSetting()">
          Add setting
        </button>
      </div>
    </div>
  </form>
</div>
