@import 'variables';

:host {
  height: 100%;
  width: 100%;
}

.responsive-gallery {
  display: grid;
  gap: 1rem;
  align-content: start;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  height: 100%;
  overflow: auto;
  padding: 0 20px;

  @media (max-width: $bp-smallest) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .title-text {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    color: #b0b0b0;
  }

  .responsive-gallery-item {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
