@import 'variables';

.presentation {
  width: 100%;

  &__item {
    position: relative;
    display: grid;
    grid-row-gap: 3rem;
    justify-items: center;
    height: auto;
    width: 100%;

    &--title {
      width: 84%;
      margin: 0 auto;

      @media only screen and (max-width: $bp-small) {
        width: 73%;
      }

      h1 {
        text-align: center;
        font-weight: 500;
        font-size: 3rem;
        line-height: 3.5rem;

        @media only screen and (max-width: $bp-small) {
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 2.8rem;
          padding-top: 1.8rem;
        }
      }
    }

    &--close-icon {
      position: absolute;
      right: 2rem;
      top: 2rem;
      cursor: pointer;
      z-index: 1000;
    }

    &--image {
      height: 38vh;
      width: 80%;
      margin: 0 auto;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    &--text {
      padding-left: 2rem;
      padding-right: 2rem;
      p {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 24px auto 0;
        font-family: 'Poppins';
      }
    }
  }
}

:host {
  ::ng-deep {
    .flickity-page-dots {
      bottom: 2rem;
    }
  }
}

.landing-btn {
  background-color: $feed-accent-ember;
  border-color: white;
  padding: 0.8rem 2.2rem;
  border-radius: 20px;
  font-size: 2.2rem;
}

.done-hidden {
  pointer-events: none;
  opacity: 0;
}
