app-filters {
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4.4rem auto;

    .filter_row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.6rem;
    }

    app-plus-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  @media screen and (max-width: 700px) {
    .filters {
      width: 100%;

      .filter_row {
        flex-wrap: wrap;
      }
    }
  }

  .btn-entity.medium {
    line-height: normal !important;
  }
}
