@import 'variables';

::ng-deep .mat-dialog-content {
  max-height: unset !important;
}

.close-btn {
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.payment {
  &-icon {
    margin-top: -30px;
  }

  &-title {
    font-weight: 500;
    font-size: 27px;
    line-height: 110%;
    letter-spacing: 0.1em;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 145.69%;
    letter-spacing: 0.03em;
    color: $--sds-color-grey-500;
  }
}

.secure-payment-method-icon {
  margin-inline: auto;
  display: block;
  height: 69px;
  margin-bottom: 95px;
  margin-top: 100px;

  &--showed-card-form {
    margin-bottom: 15px;
  }
}

.enter-card-information-btn {
  display: block;
  margin-top: auto;
  background-color: transparent;
  border: 3px solid #000000;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18.1817px;
  line-height: 110%;
  letter-spacing: 0.1em;
  height: 60px;
  width: 100%;
  cursor: pointer;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }
}

::ng-deep .custom-payment-request {
  &__container {
    margin-top: 24px;
  }

  .receipt {
    margin-left: auto;
  }

  .receipt--left {
    border-radius: 16px 0 16px 16px !important;
  }

  .receipt__item {
    gap: 20px !important;
  }
}

.stripe-secure-payment-icon {
  margin-top: 18px;
  height: 46px;
  display: block;
  margin-inline: auto;
}
