@import 'variables';

:host ::ng-deep {
  #card-errors.active {
    height: fit-content !important;
  }
}

label {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  font-variant: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

#card-errors {
  &.active {
    height: 20px;
    padding: 4px 0;
    color: #fa755a;
    font-size: 1.2rem;
  }
}

.form-row {
  width: 70%;
  float: left;
}

.token {
  color: #32325d;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

#stripe-token-handler {
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  padding: 20px 30px;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  box-shadow:
    0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15),
    0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transform: translateY(0);
  opacity: 1;
  background-color: white;
}

#stripe-token-handler.is-hidden {
  opacity: 0;
  transform: translateY(-80px);
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid #e1e6ec;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.payment-form {
  &__submit-btn {
    width: 100%;
    height: 48px;
    margin: 1rem 0;
    background: $feed-accent-green;
    border-radius: 4px;
    color: #fff;

    &:hover:not(:disabled) {
      transform: translateY(-1px);
      box-shadow:
        0 7px 14px rgba(50, 50, 93, 0.1),
        0 3px 6px rgba(0, 0, 0, 0.08);
      background-color: #02b876;
    }

    &:disabled {
      opacity: 0.4;
    }

    div {
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      text-transform: uppercase;
    }

    .btn-body {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      justify-content: center;

      app-small-spinner {
        margin-left: 0.5rem;
      }
    }
  }
}
