@import "_mixins";

:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  @include centeringFlex;
  @include baseTransition;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}