<div class="modal__header">
  <span class="modal__header--title">Share this Capsule / Questionnaire</span>
  <app-close-icon mat-dialog-close></app-close-icon>
</div>
<div class="modal__container">
  <div class="modal__body">
    <div class="modal__title">
      To submit the review drag the rating slider at least once.
    </div>
    <img src="/assets/flexfeedback/drag-slider.jpg" alt="" />
  </div>

  <div class="modal__actions">
    <div class="btns">
      <app-button size="medium" btnUIType="neutral"  mat-dialog-close>Cancel</app-button>
      <app-button size="medium" btnUIType="primary"  mat-dialog-close>Got it</app-button>
    </div>
  </div>
</div>
