$--sds-size-depth-0: 0;
$--sds-size-depth-025: 1px;
$--sds-size-depth-100: 4px;

$--sds-size-depth-200: 8px;
$--sds-size-depth-400: 16px;
$--sds-size-depth-800: 32px;

$--sds-size-depth-negative-025: -1px;
$--sds-size-depth-negative-100: -4px;
$--sds-size-depth-negative-200: -8px;
