$--sds-size-radius-100: 4px;
$--sds-size-radius-150: 6px;
$--sds-size-radius-200: 8px;
$--sds-size-radius-300: 12px;
$--sds-size-radius-400: 16px;
$--sds-size-radius-500: 20px;
$--sds-size-radius-550: 22px;
$--sds-size-radius-full: 9999px;
