$--sds-size-space-025: 0.1rem;
$--sds-size-space-050: 0.2rem;
$--sds-size-space-100: 0.4rem;
$--sds-size-space-125: 0.5rem;
$--sds-size-space-150: 0.6rem;
$--sds-size-space-200: 0.8rem;
$--sds-size-space-250: 1rem;
$--sds-size-space-275: 1.1rem;
$--sds-size-space-300: 1.2rem;
$--sds-size-space-325: 1.3rem;
$--sds-size-space-350: 1.4rem;
$--sds-size-space-375: 1.5rem;
$--sds-size-space-400: 1.6rem;
$--sds-size-space-425: 1.7rem;
$--sds-size-space-500: 2rem;
$--sds-size-space-525: 2.1rem;
$--sds-size-space-550: 2.2rem;
$--sds-size-space-575: 2.3rem;
$--sds-size-space-600: 2.4rem;
$--sds-size-space-650: 2.6rem;
$--sds-size-space-675: 2.7rem;
$--sds-size-space-700: 2.8rem;
$--sds-size-space-725: 2.9rem;
$--sds-size-space-750: 3rem;
$--sds-size-space-800: 3.2rem;
$--sds-size-space-825: 3.4rem;
$--sds-size-space-850: 3.6rem;
$--sds-size-space-1000: 4rem;
$--sds-size-space-1050: 4.2rem;
$--sds-size-space-1100: 4.4rem;
$--sds-size-space-1200: 4.8rem;
$--sds-size-space-1300: 5.2rem;
$--sds-size-space-1350: 5.4rem;
$--sds-size-space-1400: 5.6rem;
$--sds-size-space-1500: 6rem;
$--sds-size-space-1550: 6.2rem;
$--sds-size-space-1575: 6.3rem;
$--sds-size-space-1600: 6.4rem;
$--sds-size-space-2400: 9.6rem;
$--sds-size-space-4000: 16rem;
$--sds-size-space-negative-100: -0.4rem;
$--sds-size-space-negative-200: -0.8rem;
$--sds-size-space-negative-300: -1.2rem;
$--sds-size-space-negative-400: -1.6rem;
$--sds-size-space-negative-600: -2.4rem;