$--sds-size-stroke-border: 1px;
$--sds-size-stroke-focus-ring: 2px;
$--sds-size-stroke-border--solid--sds-color-border-danger-default: $--sds-size-stroke-border solid $--sds-color-border-danger-default;
$--sds-size-stroke-border--solid--sds-color-border-default-default: $--sds-size-stroke-border solid $--sds-color-border-default-default;
$--sds-size-stroke-border--solid--sds-color-border-danger-default: $--sds-size-stroke-border solid $--sds-color-border-danger-default;
$--sds-size-stroke-border--solid--sds-color-border-neutral-default: $--sds-size-stroke-border solid $--sds-color-border-neutral-default;
$--sds-size-stroke-border--solid--sds-color-border-disabled-default: $--sds-size-stroke-border solid $--sds-color-border-disabled-default;
$--sds-size-stroke-border--solid--sds-color-border-brand-default: $--sds-size-stroke-border solid $--sds-color-border-brand-default;
$--sds-size-stroke-border--solid--sds-color-border-neutral-secondary: $--sds-size-stroke-border solid $--sds-color-border-neutral-secondary;
$--sds-size-stroke-border--solid--sds-color-background-default-default: $--sds-size-stroke-border solid $--sds-color-background-default-default;
$--sds-size-stroke-border--solid--sds-color-border-neutral-tertiary: $--sds-size-stroke-border solid $--sds-color-border-neutral-tertiary;
