@import "_variables";
@import "_mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $--sds-size-space-200;
  align-self: center;
  width: fit-content;
  cursor: pointer;
  padding: $--sds-size-space-200;
  border-radius: $--sds-size-space-200;
  border: $--sds-size-stroke-border solid transparent;

  &:hover {
    border-color: $--sds-color-border-default-default;
  }

  margin-top: $--sds-size-space-200;
  margin-bottom: $--sds-size-space-200;
}

.collapse-button {
  &_text {
    color: $--sds-color-grey-450;
    @include singleLineBodyBaseText;
  }

  &_icon {
    width: $--sds-typography-heading-size-base;
    height: $--sds-typography-heading-size-base;
  }

}